# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# Environments
.env
.venv
env/
venv/
ENV/

# Spark / Hadoop / Checkpoints
spark-warehouse/
derby.log
metastore_db/
checkpoint/
/tmp/spark-checkpoints-*

# OS database files
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Airflow
airflow/logs/
airflow/airflow.db
airflow/airflow-webserver.pid
